.app-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/Background.png");
  background-size: cover;
  background-position: center; /* Center the background image */
  padding: 41px 100px;
}
@media all and (max-width: 768px) {
  .app-wrapper {
    padding: 20px 40px;
  }
}
@media all and (min-width: 769px) and (max-width: 1199px) {
  .app-wrapper {
    padding: 40px 60px;
  }
}
